# # CodeIgniter 3
# /application/cache/*
# !/application/cache/index.html
/application/logs/*
/application/sessions/*
# /vendor/
# /system/
# 
# # Environment variables
# .env
# 
# # IDE-specific files
# .idea/
# .vscode/
# nbproject/
# 
# # macOS specific
# .DS_Store
# 
# # Windows specific
# Thumbs.db
# 
# # SQL scripts
# alter_table_books.sql
application/config/config.php
application/config/config.php
Minerva_Presentation_Outline.md
Minerva_User_Manual.html
Minerva_User_Manual.md
/api/application/sessions
/uploads/homework/assignment
