# CodeIgniter 3
/application/cache/*
!/application/cache/index.html
/application/logs/*
!/application/logs/index.html
/application/sessions/*
!/application/sessions/index.html
/vendor/
/system/

# Environment variables
.env

# IDE-specific files
.idea/
.vscode/
nbproject/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# SQL scripts
alter_table_books.sql
