# # CodeIgniter 3
# /application/cache/*
# !/application/cache/index.html
/application/logs/*
/application/sessions/*
# /vendor/
# /system/
# 
# # Environment variables
# .env
# 
# # IDE-specific files
# .idea/
# .vscode/
# nbproject/
# 
# # macOS specific
# .DS_Store
# 
# # Windows specific
# Thumbs.db
# 
# # SQL scripts
# alter_table_books.sql
Minerva_Presentation_Outline.md
Minerva_User_Manual.html
Minerva_User_Manual.md
/api/application/sessions
/uploads/homework/assignment
/uploads
/config
/application/config/production

application/controllers/Dbcheck.php
application/controllers/Dbupdate.php
clear_cache.php
clear_cache.php
create_tenant.sh
phpinfo.php
